body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container {
    width: 350px !important;
    padding: 20px; 
}

.text-center {
    text-align: center;
    color: #fff; /* Change text color to white */
    font-size: 2.5em; /* Increase font size */
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 10px;
    border-radius: 8px;
    width: 500px;
}